<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/normalize.css"/>
		<script src="js/jquery-3.2.1.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/yshdata.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/tools.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="css/public.min.css" />
		<link rel="stylesheet" type="text/css" href="css/ysh.min.css" />
		<script src="js/jsonp.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<!--[if IE]>
			<script src="js/html5shiv.js" type="text/javascript" charset="utf-8"></script>
			<script src="js/respond.js" type="text/javascript" charset="utf-8"></script>
		<![endif]-->
	</head>

	<body>
		<!--nav-->
		<div class="box" id="box">
			<div class="nav clearfix">
				<ul class="left-nav clearfix">
					<li class="border">
						<a href="javascript:;"><i></i><span>收藏鲜花网(hua.com)</span></a>
					</li>
					<li>
						<a href="javascript:;"><i></i><span>关注微信</span></a>
						<ul>
							<li><img src="img/wechat_qrcode.jpg" /></li>
							<li>扫码关注</li>
							<li>回复"礼物" 更多惊喜</li>
						</ul>
					</li>
					<li>
						<a href="javascript:;"><i></i><span>花礼网</span></a>
						<ul>
							<li><img src="img/app_qrcode.jpg" /></li>
							<li>新人专享100元APP礼包</li>
						</ul>
					</li>
				</ul>
				<ul class="right-nav ">
					<li>
						<a href="login.html">你好，请登录</a>
					</li>
					<li>
						<a href="register.html">注册</a>
					</li>
					<li class="border-right">|</li>
					<li>
						<a href="javascript:;">订单查询</a>
					</li>
					<li class="border-right">|</li>
					<li>
						<a href="javascript:;">我的花礼</a>
					</li>
					<li class="border-right">|</li>
					<li class="checkeds">
						<a href="javascript:;">客户服务<span class="glyphicon glyphicon-triangle-bottom"> </span></a>
						<ul>
							<li>
								<a href="javascript:;">在线付款</a>
							</li>
							<li>
								<a href="javascript:;">帮助中心</a>
							</li>
							<li>
								<a href="javascript:;">售后服务</a>
							</li>
							<li class="ranges">
								<a href="javascript:;">配送范围</a>
							</li>
							<li class="ranges">
								<a href="javascript:;">留言反馈</a>
							</li>
						</ul>
					</li>
					<li class="border-right">|</li>
					<li class="checkeds checkedsone">
						<a href="javascript:;"><span class="glyphicon glyphicon-shopping-cart" id="car"></span>&nbsp;&nbsp;购物车<span>(0)</span><span class="glyphicon glyphicon-triangle-bottom"></span></a>
						<div class="car">
							您的购物车中还没有商品，快去选购吧！
						</div>
					</li>
					<li class="border-right">|</li>
					<li>
						<a href="ysh.html">永生花</a>
					</li>
				</ul>
			</div>
			<!--logo-->
			<div class="logo ">
				<div class="left-logo">
					<h3><a href="javascript:;"><img src="img/logo.png"/></a></h3>
					<span id=""></span>
					<p>中国鲜花礼品网 <i>始于2005，简称花礼网</i></p>
				</div>
				<div class="center-logo">
					<div class="form-group">
						<form class="form-inline">
							<div class="input-group searchKey">
								<input type="text" class="form-control input " id="txt" placeholder="商品关键词">
								<div class="input-group-addon search" id="btn">搜索</div>
							</div>
							<div class="listKey">
								<ul id="keyList">

								</ul>
							</div>
						</form>

					</div>
					<p>
						<a v-for="item of arr.logo"  href="javascript;;">{{item}}</a>
						
					</p>
				</div>
				<div class="right-logo">
					<ul>
						<li><span class="glyphicon glyphicon-earphone"></span>&nbsp;&nbsp;400-800-2223</li>
						<li><i></i></li>

						<li>
							<a href="javascript:;"><span class="glyphicon glyphicon-headphones"></span>&nbsp;&nbsp;在线客服</a>
						</li>
					</ul>

				</div>

			</div>
			<!--banner-->
			<div class="banner">

				<ul class="top-nav">

					<li>
						<a href="javascript:;">永生花</a>
					</li>
					<li>
						<a href="javascript:;">经典花盒</a>
					</li>
					<li>
						<a href="javascript:;">巨型玫瑰</a>
					</li>
					<li>
						<a href="javascript:;">薰衣草</a>
					</li>
					<li>
						<a href="javascript:;">永生瓶花</a>
					</li>
					<li>
						<a href="javascript:;">特色永生花</a>
					</li>
					<li>
						<a href="javascript:;">特色永生花</a>
					</li>
					<li>
						<a href="index.html">网站首页</a>
					</li>
				</ul>
				<div class="bannerPic" id="bannerPic">
					<ul class="slide" id="banner_img">
						<li class="index_banner">
							<a href="javascript:;"><img src="img/banner_song_s_02.jpg" /></a>
						</li>
						<li>
							<a href="javascript:;"><img src="img/banner_song_03.jpg" /></a>
						</li>
						<li>
							<a href="javascript:;"><img src="img/banner_song_04.jpg" /></a>
						</li>
						<li>
							<a href="javascript:;"><img src="img/banner_song_05.jpg" /></a>
						</li>
						<li>
							<a href="javascript:;"><img src="img/ysh_large_Capricorn.jpg" /></a>
						</li>
					</ul>
					<ul class="point" id="banner_point">
						<li class="active"></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
					</ul>
					<span class="glyphicon glyphicon-chevron-left pre"></span>
					<span class="glyphicon glyphicon-chevron-right next"></span>
				</div>
			</div>
			<!--ysh_brand-->
			<div class="ysh_brand">
				<ul class="clearfix">
					<li>
						<a href="javascript:;"><img src="img/ysh_160923.jpg" /></a>
					</li>
					<li>
						<a href="javascript:;"><img src="img/ysh_170515.jpg" /></a>
					</li>
					<li>
						<a href="javascript:;"><img src="img/ysh_161116.jpg" /></a>
					</li>
					<li>
						<a href="javascript:;"><img src="img/ysh_170720.jpg" /></a>
					</li>
					<li>
						<a href="javascript:;"><img src="img/ysh_170407.jpg" /></a>
					</li>
					<li>
						<a href="javascript:;"><img src="img/flowersong_07.jpg" /></a>
					</li>
				</ul>
			</div>
			<!--ysh_all-->
			<div class="ysh_all">
				<p>
					<a href="javascript:;">查看全部永生花&gt;</a>
				</p>
				<div class="ysg_bg">
					<a href="javascript:;"><img src="img/ysh_ysdcn_161116.jpg" /></a>
				</div>
			</div>
			<!--ysh_list-->
			<div class="wrap">

			</div>

			<div class="ysh_article">
				<h5>永生花相关文章推荐</h5>
				<ul>
					<li v-for="item of arr.article">
						<a href="javascript:;">{{item}}</a>
					</li>
				
				</ul>
				<ul>
					<li v-for="item of arr.article2">
						<a href="javascript:;">{{item}}</a>
					</li>
					
				</ul>
				<ul>
					<li v-for="item of arr.article3">
						<a href="javascript:;">{{item}}</a>
					</li>
					
				</ul>
			</div>
			<!--index-->
			<div class="index">
				<ul class="clearfix">
					<li v-for="item of arr.index">
						<a href="javascript:;" ><i></i>{{item}}</a>
					</li>
				</ul>
			</div>
			<!--link-->
			<div class="link">
				<ul class="clearfix">
					<li>
						<a href="javascript:;"><img src="img/cxwz.gif" /></a>
					</li>
					<li>
						<a href="javascript:;"><img src="img/cxwz.png" /></a>
					</li>
					<li>
						<a href="javascript:;"><img src="img/smyz.gif" /></a>
					</li>
					<li>
						<a href="javascript:;"><img src="img/slogan.png" /></a>
					</li>
					<li>
						<a href="javascript:;"><img src="img/zfb.gif" /></a>
					</li>
					<li>
						<a href="javascript:;"><img src="img/100.jpg" /></a>
					</li>
					<li>
						<a href="javascript:;"><img src="img/bico1.jpg" /></a>
					</li>
					<li>
						<a href="javascript:;"><img src="img/bico3.jpg" /></a>
					</li>
					<li>
						<a href="javascript:;"><img src="img/bico4.jpg" /></a>
					</li>
				</ul>
				<p class="firstP">
					<a href="javascript:;">中国花卉协会会员</a>
					<a href="javascript:;">中国电子商务协会会员 </a> ICP经营许可证：
					<a href="javascript:;">粤B2-20050744</a> |
					<a href="javascript:;">粤ICP备09171662号</a><i></i> 粤公网安备44030502000373号 Copyright © 2005-2017</p>
				<p class="secondP">花礼网 （中国鲜花礼品网）
					<a href="javascript:;">www.hua.com</a> 深圳市百易信息技术有限公司 中国鲜花网领先品牌，鲜花速递专家！</p>
			</div>
			<!--firendLink-->
			<div class="friendLink">
				<ul class="clearfix">
					<li>友链</li>
					<li v-for="item of arr.friendLink">
						<a href="javascript:;" ><i></i>{{item}}</a>
					</li>
				</ul>
			</div>
			<div class="aside-nav">
				<ul>
					<li>
						<a href="javascript:;">
							<span class="glyphicon glyphicon-user"></span>
						</a>
						<div>
							<img src="img/avatar_none.jpg">
							<p>你好! 请<a href="login.html"> 登录 </a> | <a href="register.html"> 注册 </a></p>
							<p><a href="javascript:;"><i class="glyphicon glyphicon-file"></i>暂无订单</a></p>
						</div>
					</li>
					<li>
						<a href="javascript:;"><span class="glyphicon glyphicon-shopping-cart"></span class="shoppingCar">购物车<span class="count">1</span></a>
						
					</li>
					<li>
						<a href="javascript:;"><span class="glyphicon glyphicon-heart-empty"></span></a>
						<div>我的收藏</div>
					</li>
					<li>
						<a href="javascript:;"><span class="glyphicon glyphicon-time"></span></a>
						<div>最近查看</div>
					</li>
					<li>
						<a href="javascript:;"><span class="glyphicon glyphicon-earphone"></span></a>
						<div>400-889-8888</div>
					</li>
					<li>
						<a href="javascript:;"><span class="glyphicon glyphicon-headphones"></span></a>
						<div>在线客服</div>
					</li>
					<li>
						<a href="javascript:;"><span class="glyphicon glyphicon-qrcode"></span></a>
						<div>
							
								<p>
									<img src="img/QR_wx.jpg"/>
									下载微信公众号
								</p>
								<p>
									<img src="img/QR_app.jpg"/>
									下载app
								</p>
							
						</div>
					</li>
					<li>
						<a href="javascript:;"><span class="glyphicon glyphicon-comment"></span></a>
						<div>功能反馈</div>
					</li>
					<li>
						<a href="javascript:;"><span class="glyphicon glyphicon-menu-up"></span></a>
						<div><a href="javascript:;">返回顶部</a></div>
					</li>
				</ul>

			</div>

		</div>
	</body>

</html>
<script src="js/mainVue.js" type="text/javascript" charset="utf-8"></script>
<script src="js/ysh.js" type="text/javascript" charset="utf-8"></script>
<script src="js/public.js" type="text/javascript" charset="utf-8"></script>
<script src="js/auto.js" type="text/javascript" charset="utf-8"></script>
